<div class="hero min-h-screen" style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Upps no puedes ingresar a ese enlace</h1>
      <p class="mb-5">Posiblemente no existe o no tienes acceso</p>
      <p>{{ultimoError}}</p>
      <br>
      <button class="btn btn-primary" [routerLink]="[('/home')]" >Inicio</button>
    </div>
  </div>
</div>
